.markdownanswer {
    line-height: 1.75;
  }
  
  .markdownanswer a:hover {
    opacity: 0.8;
  }
  
  .markdownanswer a {
    color: #b13a3a;
    font-weight: 500;
  }
  
  .markdownanswer code {
    color: #15cb19;
    font-weight: 500;
    white-space: pre-wrap !important;
  }
  
  .markdownanswer ol,
  .markdownanswer ul {
    margin: 1rem;
  }

.markdownanswer h1,
.markdownanswer h2,
.markdownanswer h3 {
  font-size: inherit;
}

.markdownanswer code {
    white-space: pre-wrap !important;
  }

  .markdownanswer ul {
    list-style-type: disc;
    padding-left: 2rem;
  }
  
  .markdownanswer ol {
    list-style-type: decimal;
    padding-left: 2rem;
  }
  
  .markdownanswer table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .markdownanswer th, .markdownanswer td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  .markdownanswer th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  